# Package managers and locks
node_modules/
package-lock.json

# Build outputs
dist/
build/

# Playwright test artifacts
playwright-report/
test-results/
test-snapshots/

# Local environment files
.env
.env.*

# config files
*.config.js
*.config.ts
.prettierrc
tsconfig.json
package.json